#signuppage {
  background: #e5e5e5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signuppage .form-box {
  width: 458px;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  text-align: center;
  padding: 30px 54px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
}
