#signuppage {
  background: #e5e5e5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #signuppage {
    background: #ffffff;
  }
}
