#productPage {
  margin-bottom: 100px;
}
#productPage .product-image {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #productPage .product-image {
    height: 300px;
  }
}
