#cartPage {
  margin-bottom: 100px;
}
#cartPage .cart-item {
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}
#cartPage .cart-item-image {
  height: 100%;
  width: 200px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
#cartPage .cart-item-input {
  width: 40px;
  background-color: transparent;
  border: solid 0.5px grey;
  border-radius: 10px;
}
#cartPage .icon {
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #cartPage .cart-item {
    /* height: 300px; */
  }
}
