/**
 * /* The device with borders
 *
 * @format 
 */

#visitorsScreen {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
#visitorsScreen .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: beige; */
  z-index: -1;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
}
#visitorsScreen.smartphone-blured {
  background-color: rgba(0, 0, 0, 0.3);
  /* background-blend-mode: darken; */
}

/* The screen (or content) of the device */
#visitorsScreen .wider-content-top {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* height: calc(100vh -50px); */
  flex: 0 1 90%;
  padding-bottom: 100px;
}
#visitorsScreen .wider-content-bottom {
  flex: 1;
  width: 100%;
  background-color: transparent;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
#visitorsScreen .content {
  width: 482px;
  height: 100vh;
  margin: auto;
  text-align: center;
  padding: 72px 0;
  box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#visitorsScreen .wider-content-top::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#visitorsScreen .wider-content-top {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#visitorsScreen .bio-p {
  width: 50%;
  margin: 16px auto;
  margin-bottom: 32px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  text-align: center;
  letter-spacing: 0.75px;

  /* color: #FFFFFF; */
}
#visitorsScreen .profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitorsScreen .profile-pic-sub {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  color: white;
}
#visitorsScreen .icon {
  margin: 0 8px;
  font-size: 15px;
  cursor: pointer;
}
#visitorsScreen .monaly-logo {
  cursor: pointer;
  display: block;
}
#visitorsScreen .visitors-link-btn:active {
  transform: scale(1.002);
}
#visitorsScreen .visitors-link-btn {
  width: 100%;
  min-height: 64px;
  /* Monaly primary */

  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 283% */

  letter-spacing: 0.75px;

  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #262626;
  background-color: #b9e3c6;
  /* padding-left: 60px; */
}
#visitorsScreen .visitors-link-btn .link-image {
  width: 60px;
  height: 80%;
  background-color: transparent;
  position: absolute;
  left: 0px;
  transform: translate(10%, -50%);
  top: 50%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitorsScreen .visitors-link-btn .text {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#visitorsScreen .visitors-link-btn-with-img:active {
  transform: scale(1.002);
}
#visitorsScreen .visitors-link-btn-with-img {
  width: 100%;
  height: 64px;
  /* Monaly primary */

  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  /* identical to box height, or 283% */

  letter-spacing: 0.75px;

  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
@media screen and (max-width: 900px) {
  #visitorsScreen .content {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 32px 12px;
    box-sizing: border-box;
  }
  #visitorsScreen .visitors-link-btn {
    width: 100%;
    height: 45px;
    border-radius: 4px;
  }
  #visitorsScreen .visitors-link-btn .link-image {
    width: 40px;
    /* height: 39px; */

    border-radius: 4px;
  }
  #visitorsScreen .visitors-link-btn-with-img {
    width: 100%;
    height: 45px;
    border-radius: 8px;
  }

  #visitorsScreen .profile-pic {
    height: 96px;
    width: 96px;
  }
  #visitorsScreen .profile-pic-sub {
    height: 96px;
    width: 96px;
  }
  #visitorsScreen .bio-p {
    width: 80%;
    margin: 8px auto;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 20px;
  }
}
