@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  50% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(1rem);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
#homepage a:active {
  color: currentColor;
  text-decoration: none;
}
#homepage a:hover {
  color: currentColor;
  text-decoration: none;
}
#homepage ul {
  padding-left: 0;
}
#homepage li {
  list-style: none;
}
#homepage input {
  outline: none;
}
#homepage .marked-list-item::before {
  content: url("../../../../assets/images/Mark.svg");
  margin-right: 10px;
}
#homepageSectionThree {
  height: 900px;
  background-image: url("../../../../assets/images/Vector52.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.stripe-bg {
  background-image: url("../../../../assets/images/StripeBG.svg");
  background-position: bottom;
  background-size: 50%;
}
.e-ad-card {
  text-align: center;
}

.e-ad-card .icon-wrap {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ef476f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 12px; */
  /* line-height: 16px; */
}
.e-ad-card-2 {
  transform: translateY(30%);
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-ad-card-3 {
  transform: translateY(60%);
}
.e-ad-card-4 {
  transform: translateY(90%);
}

.pricing-card-wrap {
  width: 455px;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  /* height: 578px; */
  width: 455px;

  background: #ffffff;
  border: 1.11468px solid #d6dae4;
  box-sizing: border-box;
  border-radius: 32px;
}
.pricing-card a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-card.monaly-border {
  height: 561px;
  border: 3px solid #ef476f;
}
.testimony-box {
  width: 100%;
  overflow-y: scroll;
  justify-content: center;
}
.testimony-box::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.testimony-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px;
  width: 310px;
  height: 301px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
  border-radius: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 24px;
}
.testimony-card.rad-top-right-0 {
  border-top-right-radius: 0px;
}
.testimony-card.rad-top-left-0 {
  border-top-left-radius: 0px;
}
.testimony-card.rad-bottom-right-0 {
  border-bottom-right-radius: 0px;
}
.testimony-card.rad-bottom-left-0 {
  border-bottom-left-radius: 0px;
}
#homepage footer {
  min-height: 422px;
  background: #111827;
}
#homepage footer p {
  font-size: 12px;
  line-height: 15px;
  /* or 137% */
  font-weight: 400;

  color: #ffffff;
}
.homepage-moving-images {
  width: 100%;
  height: 500px;
  /* background-color: #ddd; */
  background-image: url("../../../../assets/images/StripeBG.svg");
  background-position: bottom;
  background-size: 50%;
  position: relative;
}
.SectionOne1 {
  position: absolute;
  height: 40%;
  left: 0%;
  top: 2rem;
  z-index: 2;
  /* animation: float 6s ease-in-out infinite; */
}
.SectionOne2 {
  position: absolute;
  height: 40%;
  left: 0%;
  bottom: 10%;
  z-index: 2;
  /* animation: float 6s ease-in-out infinite; */
}
.SectionOne3 {
  position: absolute;
  height: 12%;
  left: 15%;
  bottom: 40%;
  z-index: 2;
  animation: float 6s ease-in-out infinite;
  /* animation-delay: 5s; */
}
.SectionOne4 {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
}
.SectionOne5 {
  position: absolute;
  height: 50%;
  right: 0%;
  top: -2rem;
  animation: float 6s ease-in-out infinite;
  animation-delay: 5s;
}

@media screen and (max-width: 1200px) {
  .homepage-moving-images {
    height: 400px;
    background-image: url("../../../../assets/images/StripeBG.svg");
    background-position: bottom;
    background-size: 50%;
  }
  .SectionOne1 {
    height: 30%;
    top: 0rem;
  }
  .SectionOne2 {
    position: absolute;
    height: 40%;
    left: 0%;
  }
  .SectionOne3 {
    height: 12%;
    left: 10%;
    bottom: 45%;
  }
  .SectionOne4 {
    height: 90%;
  }
  .SectionOne5 {
    position: absolute;
    height: 50%;
    right: -5%;
    top: -1rem;
  }
}
@media screen and (max-width: 900px) {
  #homepageSectionThree {
    height: auto;
    background-image: unset;
  }
  .ads {
    flex-wrap: wrap;
  }
  .e-ad-card-2 {
    transform: unset;
  }

  .e-ad-card-3 {
    transform: unset;
  }
  .e-ad-card-4 {
    transform: unset;
  }
  .testimony-box {
    justify-content: flex-start;
  }

  .testimony-card {
    padding: 1rem;
    width: 210px;
    margin: 0px 14px;
    overflow: hidden;
    height: auto;
    max-height: 301px;
  }
  .testimony-card p {
    margin-bottom: 0;
    font-size: 12px !important;
  }
  .testimony-card .avatar {
    margin-bottom: 10px !important;
  }
  .pricing-card-wrap {
    width: 100%;
  }
  .pricing-card {
    width: 100%;
  }
}
