@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.shadow-small {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: static;
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  min-width: 75px;
  min-height: 75px;
  border-radius: 50%;
}
.display-large-bold {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 66px;
  /* or 103% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.display-medium {
  /* Desktop / Display Medium */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  /* or 104% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.display-medium-bold {
  /* Desktop / Display Medium Bold */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  /* or 104% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.display-small {
  /* Desktop / Display Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  /* or 106% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.display-small-bold {
  /* Desktop / Display Small Bold */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  /* or 106% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.text-large {
  /* Desktop / Text Large */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.link-large {
  /* Desktop / Link Large */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */

  letter-spacing: 0.75px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.link-large.active::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #14142b;
  display: block;
  border-radius: 0 10px;
  margin: 3px 0;
}
.text-medium {
  /* Text Medium Web */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  /* or 189% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.link-medium {
  /* Desktop / Link Medium */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  /* or 189% */

  letter-spacing: 0.75px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.link-medium.active::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #14142b;
  display: block;
  border-radius: 0 10px;
  margin: 3px 0;
}
.text-small {
  /* Desktop / Text Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.link-small {
  /* Desktop / Link Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  letter-spacing: 0.75px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.link-small.active::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #14142b;
  display: block;
  border-radius: 0 10px;
  margin: 3px 0;
}
.text-x-small {
  /* Desktop / Text X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  /* or 171% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.link-x-small {
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.75px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.link-x-small.active::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #14142b;
  display: block;
  border-radius: 0 10px;
  margin: 3px 0;
}

.custom-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* text-align: center; */
  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.form-box {
  width: 458px;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  text-align: center;
  padding: 48px 54px;
  box-sizing: border-box;
  margin-top: 96px;
  margin-bottom: 96px;
}
.h-25-900 {
  height: 34px;
}

.header-p {
  /* Mobile / Display Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  /* or 133% */

  text-align: center;
  letter-spacing: 1px;

  /* gray active */

  color: #14142b;
}

.small-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  /* or 145% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.action-p {
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.75px;
  /* margin: 0; */
}
.dark-action-p {
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.75px;

  /* gray active */

  color: #14142b;
}
.notify-p {
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
}
.nav-p {
  /* Desktop / Text Medium */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  /* identical to box height, or 189% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.profile-pic-p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 34px;
  /* identical to box height, or 283% */

  letter-spacing: 0.75px;

  /* gray active */

  color: #14142b;
}
.success-p {
  /* Success / Dark */

  color: #00966d;
}
.error-p {
  /* Error / Dark */

  color: #c30052;
}
.m-0 {
  margin: 0;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-auto {
  margin-right: auto;
}
.mt-16 {
  margin-top: 16px;
}
.mrl-16 {
  margin-right: 16px;
  margin-left: 16px;
}
.mtb-8 {
  margin-bottom: 8px;
  margin-top: 8px;
}
.mtb-16 {
  margin-bottom: 16px;
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.primary-btn {
  width: 100%;
  height: 56px;
  /* Monaly primary */

  background: #ef476f;
  border: 2px solid #ef476f;
  box-sizing: border-box;
  border-radius: 40px;
  color: #f7f7fc;
  /* //styleName: Desktop / Link Small; */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  outline: none;
}
.primary-btn-inverse {
  width: 100%;
  height: 56px;
  /* Monaly primary */

  background: #ffffff;
  border: 2px solid #d6d8e7;
  box-sizing: border-box;
  border-radius: 40px;
  color: #ef476f;
  /* //styleName: Desktop / Link Small; */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  outline: none;
}
.inactive {
  transform: scale(0.9);
  opacity: 0.5;
}
.primary-btn:active {
  transform: scale(1.1);
}

.link-btn:active {
  transform: scale(1.002);
}
.link-btn {
  width: 100%;
  height: 64px;
  /* Monaly primary */

  background: #ef476f;
  border: 2px solid #ef476f;
  box-sizing: border-box;
  border-radius: 16px;
  color: #f7f7fc;
  /* //styleName: Desktop / Link Small; */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  outline: none;
}
.custom-btn-sm {
  height: unset;
  width: unset;
  border-radius: 40px;
  padding: 0.2rem 2rem;
}
.custom-btn-xsm {
  /* Grayscale / Line */

  border: 2px solid #d6d8e7;
  box-sizing: border-box;
  border-radius: 20px;
  height: 40px;
  width: 63.276817321777344px;
  /* Mobile / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  /* or 169% */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  justify-content: center;

  /* Monaly primary */

  color: #ef476f;
}
.primary-inverse-btn:active {
  transform: scale(1.002);
}
.primary-inverse-btn {
  outline: none;
  width: 100%;
  height: 56px;
  /* Monaly primary */

  background: transparent;
  border: 2px solid #ef476f;

  box-sizing: border-box;
  border-radius: 40px;
  color: #ef476f;
  /* //styleName: Desktop / Link Small; */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  /* margin: 10px 0; */
}
.monaly-primary {
  color: #ef476f;
}
.monaly-primary-bg {
  background-color: #ef476f;
}
.success-bg {
  background: #00ba88;
  color: #fcfcfc;
}
.push-to-center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
  background: #e5e5e5;
}

.opaque {
  opacity: 0.5 !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.loader {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: solid 3px #ef476f;
  border-top: solid 3px transparent;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.relative {
  position: relative;
}
.popup-edit-profile {
  width: 365.21px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  left: calc(100% + 10px);
  z-index: 2;
  padding: 12px;
}
.popup {
  width: 400px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 22;
  padding: 12px;
}
.popup-edit-profile div {
  padding: 12px 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  letter-spacing: 0.75px;

  color: #000000;
  background-color: transparent;
  border: none;
  display: block;
}
.popup-edit-profile button {
  padding: 12px 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  letter-spacing: 0.75px;
  text-align: left;

  color: #000000;
  background-color: transparent;
  border: none;
  display: block;
}
.popup-edit-profile button:hover {
  /* monaly hover */

  background: #fff9fa;
  border-radius: 40px;
}
.popup button {
  padding: 12px 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  letter-spacing: 0.75px;
  text-align: left;

  color: #000000;
  background-color: transparent;
  border: none;
  width: 100%;
}
.popup button:hover {
  /* monaly hover */

  background: #fff9fa;
  border-radius: 40px;
}
.qrbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.modal-dialog.qrmodal {
  width: 300px;
  height: 400px;
  background: #fcfcfc;
  /* background-color: blue; */
  border-radius: 5px;

  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.modal-dialog.qrmodal .modal-content {
  height: 100%;
  background-color: transparent;
  border: none;
}
.hide {
  display: none !important;
}
.show-900 {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* The loading Class */
.loading {
  position: relative;
  background-color: #ddd;
}

/* The moving element */
.loading::after {
  top: 0;
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );

  /* Adding animation */
  animation: loading 1s infinite;
}
@media screen and (max-width: 500px) {
  .form-box {
    width: 100%;
    border-radius: unset;
  }
}
/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.inline-block {
  display: inline-block;
}
a {
  color: currentColor;
}
.no-underline {
  text-decoration: none;
}
.no-underline:hover {
  text-decoration: none;
}
.popover .arrow::after,
.popover .arrow::before {
  position: absolute;
  display: none;
  content: "";
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 900px) {
  .primary-btn-inverse {
    font-size: 13px;
  }
  .custom-btn-sm {
    width: 100% !important;
  }

  .display-large,
  .display-large-bold {
    font-size: 48px;
    line-height: 50px;
  }
  .display-medium,
  .display-medium-bold {
    font-size: 32px;
    line-height: 36px;
  }

  .display-small,
  .display-small-bold {
    font-size: 24px;
    line-height: 32px;
  }

  .text-large,
  .link-large {
    font-size: 20px;
    line-height: 32px;
  }

  .text-medium,
  .link-medium {
    font-size: 16px;
    line-height: 28px;
  }

  .text-small,
  .link-small {
    font-size: 14px;
    line-height: 24px;
  }

  .text-x-small,
  .link-x-small {
    font-size: 13px;
    line-height: 22px;
  }
  .form-box {
    padding: 72px 24px;
    box-sizing: border-box;
    margin-top: unset;
    margin-bottom: unset;
  }
  .mb-32-900 {
    margin-bottom: 32px !important;
  }
  .mb-16-900 {
    margin-bottom: 16px !important;
  }
  .fsz-14-900 {
    font-size: 14px;
  }
  .hide-900 {
    display: none;
  }
  .show-900 {
    display: block;
  }
  .h-25-900 {
    height: 25px;
  }
  .link-btn {
    height: 48px !important;
  }
  .popup {
    width: 300px;
    height: auto;
    padding: 4px;
  }
  .popup button {
    padding: 8px 12px;
    font-size: 13px;
    line-height: 22px;
  }
  .popup button:hover {
    background: #fff9fa;
    border-radius: 40px;
  }
  .modal-dialog.qrmodal {
    width: 300px;
    height: 400px;
    padding: 10px;
    margin: 0.5rem auto;
  }
  .modal-dialog.qrmodal .modal-content {
    height: 100%;
    background-color: transparent;
    border: none;
  }
}
