/** @format */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
#app-btn {
  background: #ef476f;
  border: 2px solid #ef476f;
  box-sizing: border-box;
  color: #f7f7fc;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-align: center;
  outline: none;
  padding: 10px 30px;
  display: block;
}
#app-btn:hover {
  animation: bounce 3s infinite;
  outline-offset: 1px;
  outline-width: 3px;
  outline-color: rgba(128, 128, 128, 0.151);
  outline-style: solid;
}
#app-btn.app-btn-rounded {
  border-radius: 40px;
}
#app-btn.app-btn-inverse {
  background: #ffffff;
  border: 1px solid #d6d8e7;
  box-sizing: border-box;
  /* color: #6e7191; */
  color: #ef476f;
}
#app-btn.app-btn-fullWidth {
  width: 100%;
}
#app-btn.app-btn-large {
  padding: 20px 60px;
}
#app-btn.app-btn-secondary {
  background: transparent;
  border: none;
  color: #ef476f;
}
#app-btn.app-btn-small {
  padding: 0px 15px;
  letter-spacing: 0.75px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}
@media screen and (max-width: 600px) {
  #app-btn {
    font-size: 13px;
    font-weight: 600;
    padding: 5px 15px;
  }

  #app-btn.app-btn-large {
    padding: 10px 30px;
  }

  #app-btn.app-btn-small {
    padding: 0px 7.5px;
    font-size: 10px;
    line-height: 18px;
  }
}
