#dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  margin: auto;
}
.mobile-top-nav {
  display: none;
}
.mobile-top-share-box {
  display: none;
}

#dashboard .side-bar {
  flex: 132px;
  flex-grow: 0;
  background: #ffffff;
  height: 100vh;
  border-right: 1px solid #d6d8e7;
}
#dashboard .side-bar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#dashboard .side-bar .action-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 96px);
  padding-bottom: 189px;
}
#dashboard .side-bar .action-icons img {
  margin: 32px 0;
}
#dashboard .edit-screen {
  flex: 688px;
  flex-grow: 1;
  background: #fcfcfc;

  min-height: 100px;
}
#dashboard .edit-screen .nav {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
#dashboard .edit-screen .nav .loader {
  align-self: center;
  margin-left: auto;
  margin-right: 16px;
}
#dashboard .edit-screen .nav .nav-item {
  position: relative;
  padding: 0 10px;
  /* Link */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  text-align: center;
  letter-spacing: 0.75px;

  /* Grayscale / Label */

  color: #6e7191;
}
#dashboard .edit-screen .nav .nav-item:hover {
  text-decoration: none;
}
#dashboard .edit-screen .nav .nav-item.active {
  /* Link */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  text-align: center;
  letter-spacing: 0.75px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
#dashboard .edit-screen .nav .nav-item.active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #14142b;
  display: block;
  right: 50%;
}
#dashboard .edit-screen .wider-content {
  overflow-y: scroll;
  position: relative;
  padding: 64px;
  height: calc(100vh - 96px);
  background: rgba(229, 229, 229, 0.404);
}
#dashboard .edit-screen .wider-content::before {
  display: none;
  content: "";
  height: 32px;
  width: 32px;
  background: #ef476f;
  position: absolute;
  top: 46.44%;
  left: 0;
  /* overflow-y: scroll; */
  z-index: 0;
}
#dashboard .edit-screen .wider-content::after {
  display: none;
  content: "";
  height: 32px;
  width: 32px;
  background: #ef476f;
  position: absolute;
  top: 37.89%;
  right: 0;
  /* overflow-y: scroll; */
  z-index: 0;
}
#dashboard .edit-screen .content {
  width: 100%;
  height: calc(100vh - 96px);
  margin: auto;
  position: relative;
  z-index: 1;
}
#dashboard .edit-screen .content .left-top {
  position: absolute;
  top: 10px;
  left: 10px;
}

#dashboard .edit-screen .wider-content::-webkit-scrollbar {
  /* display: none; */
}

/* Hide scrollbar for IE, Edge and Firefox */
#dashboard .edit-screen .wider-content {
  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
}

#dashboard .preview-screen {
  flex: 620px;
  flex-grow: 0;
  background: #fcfcfc;
  border-left: 1px solid #d6d8e7;

  min-height: 100px;
}
#dashboard .preview-screen .user-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  justify-content: space-between;
}
#dashboard .preview-screen .phone-preview {
  margin-top: 64px;
  width: 100%;
  /* height: calc(100% - 96px); */
}

#dashboard .top-bar {
  height: 96px;
  background: #ffffff;
  border-bottom: 1px solid #d6d8e7;
}

.custom-modal {
  position: relative;
  width: 100%;
  height: 455.06px;

  background: #ffffff;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
  padding: 0 96px;
}
.custom-modal .images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.share-box-head {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 1px;
  color: #14142b;
  font-weight: bold;
}
.link-to-user-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ef476f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}

.new-notification {
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  height: 12px;
  width: 12px;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  background: #00ba88;
}
#appearance {
}

#appearance .appearance-box {
  background: #ffffff;
  /* Soft Dropshadow */

  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
  height: auto;
  /* height: 479px; */
  width: 100%;
  margin: auto;

  border-radius: 16px;
  padding: 32px;
  position: relative;
  /* text-align: center; */
  margin-bottom: 60px;
  min-height: 100px;
}
#appearance h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
  /* position: absolute; */
  /* left: 32px; */
  /* top: 1.33%; */
}
#appearance .house-avatar {
  display: flex;
  padding: 40px 0 16px 0;
  align-items: center;
  justify-content: flex-start;
}
#appearance .avatar {
  height: 102.85713958740234px;
  width: 102.85713958740234px;
  top: 8.571426391601562px;
  border-radius: 80px;
  overflow: hidden;
  /* Monaly primary */

  background: #ef476f;
  border-radius: 80px;
  /* margin: auto; */
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Grayscale / Off-white */

  color: #fcfcfc;
}
#appearance .image-btns {
  width: 300px;
  /* margin: auto 10px; */
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
}
#appearance .image-btns button:first-child {
  margin: 8px 16px;
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;

  /* Grayscale / Background */

  color: #f7f7fc;
  height: 40px;
  width: 142px;
  border: none;
  background: #ef476f;
  border-radius: 40px;
}
#appearance .image-btns input {
  display: none;
}
#appearance .image-btns label {
  margin: 8px 16px;
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;

  /* Grayscale / Background */

  color: #f7f7fc;
  height: 40px;
  width: 142px;
  border: none;
  background: #ef476f;
  border-radius: 40px;
}
#appearance .add-profile-title {
  height: 64px;
  width: 100%;
  margin: 32px auto;
  display: block;
  background: #eff0f7;
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 24px;
  /* Desktop / Text Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  display: flex;
  align-items: center;
  letter-spacing: 0.75px;

  /* Grayscale / Placeholder */

  color: #a0a3bd;
}
#appearance textarea {
  height: 128px;
  width: 100%;
  border-radius: 16px;
  margin: auto;
  display: block;
  background: #eff0f7;
  border: none;
  outline: none;
  padding: 24px;
  /* Desktop / Text Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  display: flex;
  align-items: center;
  letter-spacing: 0.75px;

  /* Grayscale / Placeholder */

  color: #a0a3bd;
}
#appearance .style-items {
  display: flex;
  min-height: 389px;
  width: 100%;
  justify-content: space-between;
  padding: 32px;
  flex-wrap: wrap;
}
#appearance .style-item {
  text-align: center;
  margin-bottom: 15px;
}
#appearance .style-item .input-container {
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: 0.75px;
  display: inline-block;

  color: #000000;
}
#appearance .style-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  /* height: 0; */
  /* width: 0; */
}
#appearance .style-item .checkmark {
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  /* top: 3px; */
  transform: translateY(3px);
}
#appearance .style-item input:checked ~ .checkmark {
  background-color: #ccc;
  background-image: url("../../../../assets/images/Checkbox.svg");
}

#appearance .style-item .phone {
  opacity: 0.7;
  padding: 0 12px;
  padding-top: 60px;
  height: 272.8915710449219px;
  width: 150px;
  border-radius: 24px;
  border: 5px solid #6e7191;
  box-sizing: border-box;
  border-radius: 24px;
}
#appearance .style-item .phone .phone-stack {
  /* opacity: 0.2; */
  width: 119.28px;
  height: 21.69px;

  /* gray inactive */

  background: #6e7191;
  border-radius: 4px;
  margin-bottom: 8px;
}
#appearance .style-item .phone.phone-grids {
  opacity: 0.2;
  padding: 0;
  padding-top: 60px;
}
#appearance .style-item .phone.phone-mixed {
  opacity: 0.2;
  padding: 0 10px;
  padding-top: 60px;
}
#appearance .style-item .phone .phone-grid {
  width: 50.6px;
  height: 79.52px;
  /* gray toggle inactive */

  background: #6e7191;
  border-radius: 4px;
  margin: 4px;
  display: inline-block;
}
#appearance .style-item input:checked ~ .phone {
  opacity: 1;
}

#appearance .theme-item-one {
  /* background-image: url("../../../../assets/images/themeOne.png"); */
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px;
  background-size: cover;
}
#links .metric {
  display: flex;
  justify-content: space-between;
}
#links .metric-box {
  height: 180px;
  flex: 0 49%;
  border-radius: 16px;
  background: #ffffff;
  /* Soft Dropshadow */
  margin-bottom: 32px;

  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
  padding: 16px 32px;
}
#links .metric-box p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
#links .metric-box h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  /* or 106% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
#links .add-social-box {
  padding: 16px;
  min-height: 122px;
  width: 100%;
  border-radius: 16px;

  background: #ffffff;
  margin-bottom: 32px;
  /* Soft Dropshadow */

  filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
}
#links .add-social-box h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
#links .add-social-box .social-icon-item {
  position: relative;
  display: inline-block;
  width: 35px;
  margin-right: 16px;
}
#links .add-social-box .social-icon {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 16px;
}
#links .add-social-box .social-icon-angle {
  width: 20px;
  height: 20px;

  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
#links .add-social-box .social-input {
  width: 100%;
}
#links .add-social-box input {
  display: inline-block;
  margin-top: 16px;
  height: 56px;
  width: 288px;
  border-radius: 16px;
  background: #eff0f7;
  border-radius: 16px;
  border: none;

  /* Desktop / Text Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  /* Grayscale / Placeholder */
  padding: 0 24px;

  color: #a0a3bd;
}
#links .add-social-box button:active {
  transform: scale(1.1);
}
#links .add-social-box button {
  height: 56px;
  width: 120px;
  border-radius: 40px;
  background: #ef476f;
  border: none;
  /* Desktop / Link X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.75px;

  /* Grayscale / Background */

  color: #f7f7fc;
  margin-left: 16px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #ef476f, #ef476f);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  color: black;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #ef476f, #ef476f);
}
#appearance .textarea-count {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
#appearance .textarea-count span {
  /* Desktop / Text X-Small */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  letter-spacing: 0.25px;

  /* gray inactive */

  color: #6e7191;
}
.add-media-in-settings {
  display: none;
}
.mobile-top-nav-share-box {
  display: none;
}
@media screen and (max-width: 960px) {
  .mobile-top-nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
  }
  .mobile-top-nav-share-box {
    /* Rectangle 458 */

    /* width: 100%; */
    flex: 1;
    height: 69px;
    /* monaly hover */

    background: #000000;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
  }
  .mobile-top-nav-share-box span::-webkit-scrollbar {
    display: none;
  }
  .mobile-top-nav-share-box span {
    overflow-x: scroll;
    width: auto;
    height: 40px;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  .mobile-top-nav-share-box u {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */

    letter-spacing: 0.25px;
    text-decoration-line: underline;

    /* gray toggle knob */

    color: #fcfcfc;
  }
  .mobile-top-nav-share-box b,
  .mobile-top-nav-share-box a {
    /* Mobile / Link Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */

    letter-spacing: 0.25px;

    /* Grayscale / Body */

    color: #fcfcfc;
  }
  .mobile-top-nav .user-round-avatar-small {
    /* Mobile / Link X-Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    /* or 169% */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.25px;

    /* Grayscale / Off-white */

    color: #fcfcfc;
    height: 27.428569793701172px;
    width: 27.428569793701172px;
    background: #ef476f;
    border-radius: 80px;
    margin-left: 24px;
    overflow: hidden;
  }
  .share-button-mobile {
    height: 40px;
    width: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;

    /* gray toggle knob */

    color: #fcfcfc;
    /* Grayscale / Line */

    border: 2px solid #d6d8e7;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
  }
  #dashboard .side-bar {
    display: none;
  }
  #dashboard .edit-screen {
    flex: auto;
    flex-grow: 1;
  }
  #dashboard .edit-screen .wider-content {
    padding: 24px;
  }
  #dashboard .edit-screen .content {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
  }

  #dashboard .edit-screen .nav {
    padding-top: 0px;
    min-height: 55px;
    /* Grayscale / Background */

    background: #f7f7fc;
    justify-content: center;
    display: none;
  }
  #dashboard .edit-screen .nav .nav-item {
    padding: 5px 0;
    font-size: 14px;
  }
  #dashboard .edit-screen .nav .nav-item.active {
    font-size: 14px;
  }
  #dashboard .preview-screen {
    display: none;
  }

  #dashboard .top-bar {
    height: auto;
  }
  #appearance {
    height: auto;
    /* height: 479px; */
    width: 100%;
    margin: auto;

    border-radius: 16px;
    padding: 0px;
    position: relative;
    /* text-align: center; */
    box-sizing: border-box;
  }
  #appearance .appearance-box {
    height: auto;
    /* height: 479px; */
    width: 100%;
    margin: auto;

    border-radius: 16px;
    padding: 32px;
    position: relative;
    /* text-align: center; */
    margin-bottom: 60px;
    min-height: 100px;
  }
  #appearance h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    letter-spacing: 1px;

    /* Grayscale / Title-Active */

    color: #14142b;
    position: relative;
    /* left: 32px; */
    /* top: 1.33%; */
  }
  #appearance .avatar {
    height: 86px;
    width: 86px;
    border-radius: 43px;

    overflow: hidden;
    /* Monaly primary */

    background: #ef476f;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Desktop / Link X-Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    letter-spacing: 0.25px;

    /* Grayscale / Off-white */

    color: #fcfcfc;
  }
  #appearance .house-avatar {
    padding: 0;
  }
  #appearance .image-btns {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }
  #appearance .image-btns button:first-child {
    margin: 8px 0px;
    /* Desktop / Link X-Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;

    /* Grayscale / Background */

    color: #f7f7fc;
    height: 40px;
    width: auto;
    padding: 8px;
    border: none;
    background: #ef476f;
    border-radius: 40px;
  }
  #appearance .image-btns input {
    display: none;
  }
  #appearance .image-btns label {
    margin: 8px 0;
    /* Desktop / Link X-Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    /* or 171% */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;

    /* Grayscale / Background */

    color: #f7f7fc;
    height: 40px;
    width: 100%;
    padding: 8px;
    border: none;
    background: #ef476f;
    border-radius: 40px;
  }
  #appearance .add-profile-title {
    height: 56px;
    width: 100%;
    margin: 16px auto;
    display: block;
    background: #eff0f7;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 24px;
    /* Desktop / Text Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    /* Grayscale / Placeholder */

    color: #a0a3bd;
  }
  #appearance textarea {
    height: 82px;
    width: 100%;
    border-radius: 16px;
    margin: auto;
    display: block;
    background: #eff0f7;
    border: none;
    outline: none;
    padding: 24px;
    /* Desktop / Text Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    /* Grayscale / Placeholder */

    color: #a0a3bd;
  }

  #appearance .textarea-count {
    margin-top: 8px;
  }
  #appearance .style-items {
    height: auto;
    flex-wrap: wrap;
    padding: 0;
  }
  #appearance .style-item {
    height: auto;
    margin-bottom: 16px;
  }
  #appearance .style-item .phone {
    height: 229.22891235351562px;
    width: 120px;
    padding-right: 8px;
    padding-left: 8px;
  }
  #appearance .style-item .phone .phone-stack {
    height: 18.21686553955078px;
    width: 100%;
    border-radius: 4px;
  }

  #appearance .style-item .phone.phone-grids {
    height: 229.22891235351562px;
    width: 120px;
    padding-right: 8px;
    padding-left: 8px;
  }
  #appearance .style-item .phone.phone-mixed {
    opacity: 0.2;
    padding: 0 10px;
    padding-top: 60px;
  }
  #appearance .style-item .phone .phone-grid {
    width: 35px;
    height: 60px;
    /* gray toggle inactive */

    background: #6e7191;
    border-radius: 4px;
    margin: 4px;
    display: inline-block;
  }
  #links .metric {
    display: none;
  }
  #links .add-social-box {
    display: none;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Select some files";
    display: inline-block;
    background: linear-gradient(top, #ef476f, #ef476f);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: black;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #ef476f, #ef476f);
  }

  .mobile-bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #ffffff;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-bottom-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6e7191;
  }
  .mobile-bottom-nav-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ef476f;
  }
  .mobile-bottom-nav-item-icon {
    color: currentColor;
  }
  .mobile-bottom-nav-item img {
    height: 24px;
  }
  .mobile-bottom-nav-item span {
    /* mobile text very small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.25px;

    /* gray inactive */
    margin-top: 8px;
  }
  .add-media-in-settings {
    margin-bottom: 32px;
    /* Mobile / Text X-Small */

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    /* identical to box height, or 169% */

    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    /* gray inactive */

    color: #6e7191;
  }
  .add-media-in-settings-arrow {
    width: 16px;
    margin-left: 8px;
  }
}
#mobile-holder {
  position: fixed;
  height: 100%;
  width: 100%;
}
.popover {
  max-width: 100% !important;
  border: none !important;
}
.popover .arrow::after,
.popover .arrow::before {
  position: absolute;
  display: none !important;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.analytics-metrics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  flex-wrap: wrap;
}
.analytics-metrics-item {
  height: 140px;
  flex: 0 0 200px;
  border-radius: 16px;
  background: #ffffff;
  /* margin: 0 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .analytics-metrics {
    margin: 16px 0;
    justify-content: flex-start;
  }
  .analytics-metrics-item {
    height: 80px;
    flex: 0 0 100px;
    margin: 8px;
  }
  .analytics-metrics-item p {
    font-size: 10px;
    margin: 0 !important;
    line-height: 16px;
  }
}
.popup-notifications {
  width: 365.21px;
  max-height: 400px;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  left: calc(100% + 10px);
  z-index: 2;
  overflow-y: scroll;
  padding: 10px;
}
.popup-notifications::-webkit-scrollbar {
  display: none;
}
.see-all-notifications-button {
  /* background-color: red; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  /* gray inactive */
  margin: 16px 0;
}
.see-all-notifications-button span {
  color: #6e7191;
  margin-right: 10px;
}
.popup-notifications-item {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
  position: relative;
}

.popup-notifications-item header {
  height: 50px;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* or 200% */

  letter-spacing: 3px;
  text-transform: uppercase;

  /* Grayscale / Label */

  color: #6e7191;
}
.popup-notifications-item body {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
}
.popup-notifications-item body .image {
  height: 100%;
  flex: 0 0 100px;
  background-color: #ddd;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup-notifications-item body .text {
  /* Mobile / Text Medium */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 171% */

  letter-spacing: 0.75px;

  /* Grayscale / Body */

  color: #4e4b66;
}
.click-notification {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 2;
  font-size: 20px;
}
.mobile-offcanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.close-mobile-offcanvas {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  color: #d6d8e7;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.show-mobile-offcanvas {
  position: absolute;
  bottom: 100px;
  left: 20px;
  font-size: 20px;
  z-index: 3;
  border: none;
  border-radius: 40px;
  padding: 5px 10px;
  border: 2px solid #d6d8e7;
  box-sizing: border-box;
  border-radius: 40px;
  color: #ef476f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  background-color: #fff;
  display: none;
}
@media screen and (max-width: 900px) {
  .show-mobile-offcanvas {
    display: block;
  }
}
